html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
}

.secondary-header {
  background-color: rgb(31, 30, 30);
  color: white;
  height: 3rem;
  padding: 0 1rem;
}

button {
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.right-nav {
  gap: 1rem;
  color: rgb(31, 30, 30);
}
.right-nav-item {
  margin-left: 1rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

.img {
  background-color: bisque;
  height: 200px;
  width: 240px;
}
.img-container {
  display: grid;
  position: relative;
  margin: 10px;
  grid-template-columns: 250px 250px 250px;
  gap: 10px;
  padding: 3rem;
  justify-content: center;
  justify-items: center;
  height: 71.7%;
}

.img-exhibit_container {
  display: grid;
  position: relative;
  margin: 10px;
  grid-template-columns: 350px 350px 350px 350px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  height: 64.7%;
}

.img1 {
  background-image: url(https://images.unsplash.com/photo-1594845281364-63dbe90f37f5?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img2 {
  background-image: url(https://images.unsplash.com/photo-1600173293426-65190a24be72?q=80&w=1112&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img3 {
  background-image: url(https://images.unsplash.com/photo-1541515929569-1771522cbaa9?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img4 {
  background-image: url(https://images.unsplash.com/photo-1622542796254-5b9c46ab0d2f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img5 {
  background-image: url(https://images.unsplash.com/photo-1685391722227-df9eec0583ec?q=80&w=1145&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img6 {
  background-image: url(https://images.unsplash.com/photo-1557053908-4793c484d06f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img7 {
  background-image: url(https://images.unsplash.com/photo-1641238450937-344912605bef?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img8 {
  background-image: url(https://images.unsplash.com/photo-1637425328980-68b3d365ab50?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.img9 {
  background-image: url(https://plus.unsplash.com/premium_photo-1693181640721-33d8e1e0ca92?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

div .text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

span {
  background-color: rgba(155, 155, 155, 0.8);
  color: rgb(72, 23, 117);
  font-weight: bold;
  position: absolute;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.footer-container {
  position: relative;
  display: flex;
  align-items: center;

  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: black;
  color: bisque;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  gap: 1rem;
}

.footer-about {
  justify-content: center;
  align-items: center;
  cursor: default;
  color: black;
  text-decoration: none;
}

.text {
  justify-items: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.paragraph-container {
  display: flex;
  padding: 10.6rem;
  justify-content: center;
  align-items: center;
}

.exhibit_title1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(81, 4, 97);
}

.exhibit_title3 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  padding-bottom: 1rem;
}

.exhibit_img1 {
  background-image: url(https://images.unsplash.com/photo-1758547083647-e66dc420f28a?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  width: 100%;
  height: 80%;
}

.exhibit_img2 {
  background-image: url(https://images.unsplash.com/photo-1758671451540-58f5ef5a49ea?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  width: 100%;
  height: 80%;
}

.exhibit_img3 {
  background-image: url(https://images.unsplash.com/photo-1513171920216-2640b288471b?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  width: 100%;
  height: 80%;
}

.exhibit_img4 {
  background-image: url(https://plus.unsplash.com/premium_photo-1664366737721-6b3a5e2e0242?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 700px) {
  .img-container {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .img-container {
    justify-items: center;
    grid-template-columns: 1fr;
    height: auto;
  }
}
