html {
  margin: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

.page-content {
  align-self: start;
}

main {
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
  color: rgb(42, 33, 93);
  -webkit-text-stroke: 0.4px #4e3ac3;
}

.chivo-font {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.chivo-font-light {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: smaller;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
}

.secondary-header {
  background-color: rgb(31, 30, 30);
  color: white;
  height: 3rem;
  padding: 0 1rem;
}

button {
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.right-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: rgb(31, 30, 30);
}
.right-nav-item {
  /*margin-left: 1rem;
  margin-right: 1rem;
  padding: auto;*/
  background-color: #4e3ac3;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  height: 100%;
}

/*Here will be dropdown menu*/
.dropdown {
  position: relative;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #7c6ae3;
}
/*End of dropdown menu*/

.img {
  background-color: bisque;
  height: 200px;
  width: 240px;
}
.img-container {
  display: grid;
  position: relative;
  margin: 10px;
  grid-template-columns: 250px 250px 250px;
  gap: 10px;

  padding: 3rem;
  justify-content: center;
  justify-items: center;
  height: 71.7%;
}

.img-exhibit_container {
  display: grid;
  position: relative;
  margin-bottom: 3rem;
  height: 350px;
  margin: 10px;
  grid-template-columns: 350px 350px 350px 350px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 3rem;
}

.img1 {
  background-image: url("/pics/collage.jpg");
  background-size: cover;
}

.img2 {
  background-image: url("/pics/sculpture.jpg");
  background-size: cover;
}

.img3 {
  background-image: url("/pics/photographer.jpg");
  background-size: cover;
}

.img4 {
  background-image: url("/pics/brush_paint.jpg");
  background-size: cover;
}

.img5 {
  background-image: url("/pics/painting.jpg");
  background-size: cover;
}

.img6 {
  background-image: url("/pics/girl.jpg");
  background-size: cover;
}

.img7 {
  background-image: url("/pics/buttons.jpg");
  background-size: cover;
}

.img8 {
  background-image: url("/pics/shapes.jpg");
  background-size: cover;
}

.img9 {
  background-image: url("/pics/graffiti.jpg");
  background-size: cover;
}

div .text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

span {
  background-color: rgba(155, 155, 155, 0.8);
  color: rgb(72, 23, 117);
  font-weight: bold;
  position: absolute;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.footer-container {
  display: flex;
  align-items: center;
  /*margin-top: 3rem;*/
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: black;
  color: bisque;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  gap: 1rem;
}

.footer-about {
  justify-content: center;
  align-items: center;
  cursor: default;
  color: black;
  text-decoration: none;
}

.text {
  justify-items: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.paragraph-container {
  position: relative;
  display: flex;
  padding: 6rem;
  justify-content: center;
  /*align-items: center;*/
  background-image: url("/pics/gallery.jpg");
  background-size: cover;
  /*background: rgba(0, 0, 0, 0.4);*/
  /* Full height */
  min-height: 80vh;
  width: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.paragraph-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(254, 252, 254, 0.614); /* adjust darkness */
}

/* text/content above overlay */
.paragraph-container > * {
  position: relative;
  z-index: 1;
}

.exhibit_title1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(81, 4, 97);
}

.exhibit_title3 {
  display: flex;
  justify-content: center;
  font-size: smaller;
  padding-bottom: 2rem;
}

.exhibit_img1 {
  background-image: url("/pics/NY.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.exhibit_img2 {
  background-image: url("/pics/adventurous_people.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.exhibit_img3 {
  background-image: url("/pics/zebra.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.exhibit_img4 {
  background-image: url("/pics/lake.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-container {
  grid-template-columns: 1fr;
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 501px) {
  .img-container {
    justify-items: center;
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media screen and (min-width: 701px) {
  .img-container {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}

@media screen and (min-width: 1025px) {
  .img-container {
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
  }
}
